
<!-- Copyright. All Rights Reserved. -->
<html lang="en-AU">
<head>
@RenderSection("head", required: true)
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
@RenderBody()
@RenderSection("scripts", required: false)
</body>
</html>
